body {
	margin: 0;
	color: #2E354F;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

h1,
h2,
strong {
	margin: 0;
	font-weight: 900;
}

header {
	background: #2E354F;
	padding: 40px 0;
	color: #FFF;
	margin: 0 auto;
}

h1 {
	font-size: 36px
}

h2 {
	color: #EF5839;
	font-size: 24px;
}

img {
	margin: 10px 0 10px 0;
}

a {
	color: #EF5839;
}

a:hover {
	color: #F59481;
}


section {
	padding: 40px 0;
}

.container {
	width: 620px;
	margin: 0 auto;
}

.section-two {
	background: #2E354F;
	color: #FFF;
}

.btn {
	display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
}

.btn-accent {
	color: #FFF;
	background: #EF5839;
}

.btn-accent:hover {
	background: #F59481;
	color: #FFF;
}

.btn-accent:focus {
	background: #F59481;
	color: #FFF;
}

.btn-white {
	color: #2E354F;
	background: #FFF;
}

.btn-white:hover {
	background: #CCCCCC;
	color: #2E354F;
}

.btn-white:focus {
	background: #CCCCCC;
	color: #2E354F;
}

